@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #F8F9FF 8.33%, #F8F9FF 10.94%, #F7F8FF 13.54%, #F6F8FF 16.15%, #F5F8FF 18.75%, #F4F7FF 21.35%, #F3F7FF 23.96%, #F2F7FF 26.56%, #F1F6FF 29.17%, #F0F6FF 31.77%, #EFF6FF 34.37%, #EFF5FF 36.98%, #EEF5FF 39.58%, #EDF5FF 42.19%, #ECF4FF 44.79%, #EBF4FF 47.4%, #EAF4FF 50%, #E9F3FF 52.6%, #E8F3FF 55.21%, #E7F3FF 57.81%, #E6F2FF 60.42%, #E5F2FF 63.02%, #E5F2FF 65.62%, #E4F1FF 68.23%, #E3F1FF 70.83%, #E2F0FF 73.44%, #E1F0FF 76.04%, #E0F0FF 78.65%, #DFEFFF 81.25%, #DEEFFF 83.85%, #DDEFFF 86.46%, #DCEEFF 89.06%, #DBEEFF 91.67%);
}

.hero-homepage,
.navigation-page,
.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.page-links {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #F8F9FF 8.33%, #F8F9FF 10.94%, #F7F8FF 13.54%, #F6F8FF 16.15%, #F5F8FF 18.75%, #F4F7FF 21.35%, #F3F7FF 23.96%, #F2F7FF 26.56%, #F1F6FF 29.17%, #F0F6FF 31.77%, #EFF6FF 34.37%, #EFF5FF 36.98%, #EEF5FF 39.58%, #EDF5FF 42.19%, #ECF4FF 44.79%, #EBF4FF 47.4%, #EAF4FF 50%, #E9F3FF 52.6%, #E8F3FF 55.21%, #E7F3FF 57.81%, #E6F2FF 60.42%, #E5F2FF 63.02%, #E5F2FF 65.62%, #E4F1FF 68.23%, #E3F1FF 70.83%, #E2F0FF 73.44%, #E1F0FF 76.04%, #E0F0FF 78.65%, #DFEFFF 81.25%, #DEEFFF 83.85%, #DDEFFF 86.46%, #DCEEFF 89.06%, #DBEEFF 91.67%);
  z-index: 0;
  visibility: visible;
}

.flex-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-links {
  align-self: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.card {
  background: #F5FAFF;
  padding: 1rem 2rem;
  color: #2738A1;
  width: 300px;
  height: 450px;
  border: 1px solid #3059ED;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.card:hover {
  background: #cfe8ff;
}

.icon {
  width: 200px;
  height: 200px;
  object-fit: contain;
}


.top-elements,
.links-top-elements,
.links-footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.links-footer {
  width: 100vw;
  top: 81%;
}

.links-footer div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.links-footer div button {
  padding: 1rem 2rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
  background: #1a48d0;
  border: none;
  cursor: pointer;
  width: 15%;
}

.links-footer div button:hover {
  background: #133189;
}

.links-top-elements {
  width: 100vw;
  justify-content: flex-start;
}

.links-top-left {
  width: 50%;
}

.links-top-right {
  width: 50%;
  text-align: center;
  align-self: center;
  margin: 0;
}

.top-left,
.top-right,
.links-footer>img {
  width: fit-content;
  height: fit-content;
}

.content-links,
.skeleton-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 10rem;
}

.content {
  text-align: center;
  z-index: 2;
}

.content-links {
  z-index: 2;
}

.content-links a button {
  padding: 1rem 2rem;
  color: #3059ED;
  font-weight: 700;
  font-size: 1.2rem;
  background: #F5FAFF;
  border: 1px solid #3059ED;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.content-links a button:hover {
  background: #1a48d0;
  color: #F5FAFF;
}

.mobile-content-links {
  height: 100vh;
}

.mobile-content-links>div:first-child {
  height: 15%;
  display: flex;
  padding: 9rem 2rem 5rem;
  justify-content: center;
  align-items: center;
}

.mobile-content-links>div:first-child h1 {
  font-size: 30px;
  text-align: center;
}

.mobile-content-links>div:last-child {
  height: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  gap: .7rem;
  font-weight: 550;
  color: #1E5AF6;
  text-align: center;
  padding: 0 20px;
}

.mobile-button-links {
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2000;
  background-image: url("https://media.sessions.colearn.id/assets/other/images/2025-01-13T04:16:49.503Z-back button.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.mobile-button-links:hover {
  transform: scale(1.1);
}

.logo {
  width: 200px;
}

h1 {
  color: #2238a8;
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.search-container {
  position: relative;
  margin-top: 1rem;
}

.search-bar {
  padding: 1rem;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  background: #F3FAFF;
}

.search-bar:focus {
  border: 1px solid #007BFF;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: gray;
}

.wave-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-image: url("https://media.sessions.colearn.id/assets/other/images/2024-12-17T07:00:07.471Z-element-3-rev-2.png");
  background-size: auto 100px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  color: #3d3d3d;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.login-page {
  background: linear-gradient(180deg, #F8F9FF 8.33%, #F8F9FF 10.94%, #F7F8FF 13.54%, #F6F8FF 16.15%, #F5F8FF 18.75%, #F4F7FF 21.35%, #F3F7FF 23.96%, #F2F7FF 26.56%, #F1F6FF 29.17%, #F0F6FF 31.77%, #EFF6FF 34.37%, #EFF5FF 36.98%, #EEF5FF 39.58%, #EDF5FF 42.19%, #ECF4FF 44.79%, #EBF4FF 47.4%, #EAF4FF 50%, #E9F3FF 52.6%, #E8F3FF 55.21%, #E7F3FF 57.81%, #E6F2FF 60.42%, #E5F2FF 63.02%, #E5F2FF 65.62%, #E4F1FF 68.23%, #E3F1FF 70.83%, #E2F0FF 73.44%, #E1F0FF 76.04%, #E0F0FF 78.65%, #DFEFFF 81.25%, #DEEFFF 83.85%, #DDEFFF 86.46%, #DCEEFF 89.06%, #DBEEFF 91.67%);
}

.login-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.login-header {
  background-size: 50% 50%;
  background-image: url("https://media.sessions.colearn.id/assets/other/images/2024-12-19T06:18:42.845Z-login-page.png");
  background-repeat: repeat-x;
  height: 200px;
}

.login-page>.top-elements {
  display: none;
}

.login-body {
  width: 33%;
  padding: 2rem 4rem;
  background: #DBEEFF;
  color: #1E5AF6;
  border-radius: .7rem;
  border: .3px solid #1E5AF6;
  gap: 0.2rem;
  margin-top: 5rem;
}

.colearn-logo {
  width: 17rem;
}

.login-button {
  padding: .5rem 1rem;
  width: 80%;
  background: white;
  border: .3px solid #1E5AF6;
  border-radius: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.login-button img {
  width: 30px;
  height: 30px;
}

.login-button {
  cursor: pointer;
  font-weight: 550;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .login-body {
    width: 50%;
  }

  .login-page>.login-header {
    max-width: 100%;
    height: 10rem
  }
}

@media (max-width: 768px) {
  .login-body {
    width: 80%;
  }

  .login-button {
    width: 100%;
  }

  .login-header {
    display: none;
  }

  .login-page .top-elements {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  .top-left,
  .top-right {
    max-width: 42.5%;
    height: auto;
  }

  .hero-homepage>.content>img {
    width: 150px;
  }

  .hero-homepage>.content>h1 {
    font-size: 30px;
  }

  .plus-button-navigation {
    position: fixed;
    bottom: 10%;
    left: 45%;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2000;
    transition: transform 0.3s ease, background-image 0.3s ease;
  }

  .plus-button-navigation:hover {
    transform: scale(1.1);
  }

  .navigation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .navigation-content {
    position: relative;
    z-index: 2;
    gap: 20px;
  }

  .navigation-item {
    cursor: pointer;
    text-align: center;
  }

  .navigation-content>.navigation-item {
    position: absolute;
  }

  .item-1 {
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .item-2 {
    top: 250px;
    left: 75px;
  }

  .item-0 {
    top: 250px;
    right: 75px;
  }

  .navigation-item img {
    width: 75px;
    height: 75px;
    object-fit: contain;
  }

  .navigation-item h3 {
    color: white;
    font-size: .8rem;
    margin-top: 10px;
  }

  .links-footer img {
    display: none;
  }

}

@media (max-width: 480px) {
  .colearn-logo {
    width: 12rem;
  }

  .login-button {
    padding: 0;
    font-size: .8rem;
    gap: .2rem;
  }

  .search-bar {
    width: 300px;
  }

  .search-icon {
    display: none;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    max-height: 100px;
  }
}

@media (max-width: 370px) {
  .login-button>img {
    display: none;
  }

  .login-button {
    padding: 2px;
  }


}

@media (max-height: 768px) {
  .plus-button-navigation {
    bottom: 10%;
  }

  .item-1 {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .item-2 {
    top: 175px;
    left: 75px;
  }

  .item-0 {
    top: 175px;
    right: 75px;
  }

}

@media (max-height: 640px) {
  .mobile-button-links {
    bottom: 5%;
  }
}